<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
</head>
<body>
    <div id="app">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label>
                    ID:
                    <input type="text" class="form-control" v-model='id'>
                </label>
                <label>
                    Name:
                    <input type="text" class="form-control" v-model='name' @keyup.enter='add'>
                </label>
                <input type="button" value='添加' class="btn btn-primary" @click="add">
                <label>
                    搜索关键字:
                    <!-- 注意：Vue中所有的指令，在调用的时候，都以v- 开头   -->
                    <input type="text" class="form-control" v-model='keyName' id="search" v-focus>
                </label>
            </div>
        </div>
        
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>OPeration</th>
                </tr>
            </thead>
            <tbody>
                
                <tr v-for="item in search(keyName)" :key='item.id'>
                    <td v-fontweigth='1000' v-fontsize="'24px'">{{item.id}}</td>
                    <td v-text="item.name"></td>
                    <td>{{item.ctime | dataFormat }}</td>
                    <td><a href="" @click.prevent='delect(item.id)'>删除</a></td>
                </tr>
            </tbody>
        </table>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        Vue.directive('focus', {
            bind: function() {
                
            },
            inserted: function(el) {
                el.focus();
            },
            update: function() {
            }
        })
        var vm = new Vue({
            el: '#app',
            data: {
                id: '',
                name: '',
                keyName: '',
                list: [
                    {id: 1, name: '奔驰', ctime: new Date()},
                    {id: 2, name: 'BWM', ctime: new Date()}
                ]
            },
            methods: {
                add() {
                    this.list.push({id: this.id, name: this.name, ctime: new Date()});
                    this.id = this.name = '';
                },
                delect(id) {
                    this.list.some((item, i) => {   
                        if(item.id == id){
                            this.list.splice(i,1);
                            return true;
                        }
                    })
                },
                search(keyName)  {
                    var newList = [];
                    this.list.forEach(item => {
                        if(item.name.indexOf(keyName) !== -1) {
                            newList.push(item);
                        }
                    })
                    return newList;
                }
            },
            filters: {
                dataFormat: function(dataStr, pattern=''){
                    // 根据给定的时间字符串，得到特定的时间
                    // 过滤器调用的时候采用就近原则，如果全局和私有名字一致，采用私有
                    console.log(dataStr);
                    var dt = new Date(dataStr);

                    var y = dt.getFullYear(),
                        m = (dt.getMonth() + 1).toString().padStart(2,'0'),
                        d = dt.getDate().toString().padStart(2,'0');
                    if(pattern.toLowerCase() === 'yyyy-mm-dd'){
                        return `${y} - ${m} - ${d}`;
                    }else {
                        var hh = dt.getHours().toString().padStart(2,'0'),
                            mm = dt.getMinutes().toString().padStart(2,'0'),
                            ss = dt.getSeconds().toString().padStart(2,'0');
                        return `${y} - ${m} - ${d} ${hh}: ${mm}: ${ss}` ;
                    }
                }
            },
            directives: {
                'fontweigth': {
                    bind: function(el, binding) {
                        console.log(el, binding);
                        el.style.fontWeigth = binding.value;
                    },
                    inserted: function() {
                        
                    },
                },
                'fontsize': function (el, binding) {
                    el.style.fontSize = parseInt(binding.value) + 'px';
                }
            }
        })
    </script>
</body>
</html>