* {
    padding: 0;
    margin: 0;
    color: #333;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
body{
    min-width:680px;
}
.opus1 li,
.app ul li{
    float:left;
}
.gray{
    transition: transform 0.5s;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-image: url("../image/body8.jpg");
}

.head {
    position: fixed;
    top: 0;
    /* border: solid 1px green; */
    width: 100%;
    height: 80px;
    background-color: rgb(138, 2, 138,0.2);
    z-index: 100;
}

.head .content {
    position: relative;
    width: 80%;
    margin: 0 auto;
    /* border:1px solid pink; */
}


.head .content::after{
    display: inline-block;
    content: "";
    clear: both;
}
.head .content img {
    display: inline-block;
    height: 60px;
    padding: 10px;
    cursor: pointer;
}
.head .content .fa-bars{
    display: none;
}
.head .content .navigator {
    float: right;
    height: 60px;
    margin: 10px 30px;
}
.head .content .navigator li{
    display: inline-block;
}

.head .content .navigator a {
    display: inline-block;
    height: 50px;
    padding: 0 5px;
    font-size: 20px;
    line-height: 50px;
    margin: 5px 10px;
    color:#777;
}

.head .content .navigator a:hover {
    box-shadow: 4px 4px 10px rgba(100, 100, 100, 0.7);
    color: #000;
}

.head .content .navigator .active{
    background-color:#fff;
}

@media screen and (max-width:760px){
    .active-head{
        height:225px;
    }
    .head .content .navigator{
        /* display: none; */
        position: absolute;
        right:-42px;
        top:35px;
    }
    .head .content .navigator li{
        display: none;
    }
    .head .content .navigator .active-li{
        display: block;
    }    
    .head .content .fa-bars{
        display: block;
        float:right;
        margin-right:45px;
        line-height:80px;
        font-size:24px;
        cursor: pointer;
    }
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

#about,
#portgolio,
#contact {
    height: 630px;
    width:100%;
    position: relative;
    transform: perspective(800px);
    transform-style: preserve-3d;
    background-image: url("../image/body6.jpg");
    background-size: 100% 630px;
}

.text-center {
    text-align: center;
}

#about .introduce {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 340px;
    transform: translate3d(-50%,-50%,0);
    cursor: pointer;
    transition: transform 0.5s;
    /* border:1px solid pink; */
}

#about .introduce:hover {
    transform: translate3d(-50%,-50%,50px);
    transition: transform 0.5s;
    box-shadow: 0px 5px 50px rgba(222,177,188, 0.3),
        5px 0px 50px rgba(222,177,188, 0.3),
        0px -5px 50px rgba(222,177,188, 0.3),
        -5px 0px 50px rgba(222,177,188, 0.3);
    border-radius: 10px;
    background-color: rgba(255,255,255,0.3);
}

#about .introduce h2,
#about .introduce p {
    font-size: 40px;
    font-family: Lobster, 华文行楷;
    line-height: 1.5em;
    font-weight: normal;
    color: #777;
}

#about .introduce h2 {
    font-size: 50px;
}

.title{
    padding-top:100px;
    font-size:50px;
    color:#000;
    font-family: Lobster, 华文行楷;
}

#portgolio .opus {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 340px;
    transform: translate3d(-50%,-50%,0);
    cursor: pointer;
    /* border: 1px solid pink; */
}

#portgolio .opus .opus1{
    display: flex;
    justify-content: space-between;         
}
#portgolio .opus .opus1 li {
    width: 30%;
    border-radius: 50%;
    margin: 95px 0px;
    border: 1px solid pink;
    overflow: hidden;
    transform: translateZ(0px);
    transition: transform 0.5s;
}

#portgolio .opus .opus1 li:hover {
    transform: translateZ(30px);
    transition: transform 0.5s;
    box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.2),
        5px 0px 1px rgba(0, 0, 0, 0.2),
        0px -5px 1px rgba(0, 0, 0, 0.2),
        -5px 0px 1px rgba(0, 0, 0, 0.2);
}
#portgolio .opus .opus1 li:hover .gray{
    transition: transform 0.5s;
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
}
#portgolio .opus .opus1 li img {
    width: 100%;
    height: 100%;
}

#contact .information{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 680px;
    height: 420px;
    margin-left: -340px;
    margin-top: -150px;
    cursor: pointer;
    /* border: 1px solid pink; */
}

#contact .information .inputstyle{
    /* display: inline-block; */
    outline:none;
    border:none;
    border-bottom:1px solid #aaa;
    opacity: 0.6;
    width:300px;
    height:50px;
    font-size:24px;
    color:#111;
    padding-left:10px;
    margin-top: 20px;
}
#contact .information .meminput{
    height:100px;
}
.name,
.email,
.phone,
.message{
    margin:5px 120px;
    width:560px;
    height:70px;
    position: relative;
}
.message{
    height:120px;
}

.btn{
    /* border:1px solid #aaa; */
    border:none;
    border-radius:10px;
    outline:none;
    background-color:rgba(245, 172, 184,0.7); 
    width: 80px;
    height:35px;
    text-align: center;
    cursor: pointer;
    margin:10px 230px;
}
.choose{
    display:none;
    font-size:20px;
    color:purple;
    margin-left:10px;
    position: absolute;
    left:0;
    top:35px;
}
.chooseshow{
    display: inline-block;
    animation: show linear 0.3s forwards;
}
@keyframes show{
    from{
        top:35px;
        opacity: 0.1;
    }to{
        top:0px;
        opacity: 1;
    }
}
.choosedisappear{
    animation:disappear linear 0.3s forwards;
    color:#ccc;
}
@keyframes disappear{
    from{
        top:0px;
        opacity: 1;
    }to{
        top:35px;
        opacity: 0;
    }
}
.error{
    display: none;
    font-size:14px;
    color:rgb(206, 15, 25);
    white-space: nowrap;
    position: absolute;
    top:50%;
}

.bottom{
    width:100%;
    height:300px;
    background-color: rgb(138, 2, 138,0.3);
    position: relative;
    /* border:1px solid #fff; */
}
.bottom .app{
    width:500px;
    height:200px;
    position: absolute;
    display: flex;
    left:50%;
    top:50%;
    margin-left:-250px;
    margin-top:-100px;
    justify-content: center;
    align-items: center;
}
.bottom .app ul {
    display: flex;
    justify-content: space-between;
}
.bottom .app a{
    display: inline-block;
    margin-left:40px;
    height:40px;
    width:40px;
    border: 2px solid #fff;
    border-radius:50%;
}
.bottom .app a:hover{
    background-color: #fff;
}
.bottom .app a:hover i{
    color:purple;
}
.bottom .app i{
    font-size:20px;
    color:#fff;
    line-height:40px;
}








